.home-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

h1 {
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $color-darkgreen;
  font-size: 50px;
}

h2 {
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  span {
    border-bottom: 2px solid $color-darkgreen;
  }

}