.home-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

h1 {
  color: $color-darkgreen;
  font-size: 20px;
  span {
    border-bottom: 1px solid $color-darkgreen;
  }
}

h1 {
  padding-bottom: 2em;
  font-size: 20px;
  text-align: center;
}