$color-darkgreen: rgb(34, 67, 25);
$color-mediumgreen: rgb(182, 206, 194);
$color-lightgreen: rgb(202, 224, 206);
$color-verylightgreen: rgb(218, 231, 222);
$color-greyblue: rgba(110, 149, 195, 0.328);
$color-skyblue: #b3defd;
$color-darkblue:rgb(14, 69, 106);
$color-lightgrey: rgba(103, 103, 103, 0.264);